{% extends 'base.html.twig' %}

{% block header %}
    <header class="max-w-5xl ">
        <a href="/">
            <img src="./{{ asset('images/vogue-logo.png') }}" alt="vogue-logo">
        </a>
        <menu>
            <li></li>
        </menu>
    </header>
{% endblock %}